<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yvain LIECHTI, développeur Front-End : CV</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="description" content="Intégrateur web" />

    <!-- STYLES -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- SCRIPTS -->
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

    {% block jsonld %}{% endblock %}
  </head>
  <body>
    <main class="layout">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
